.html5_video_gallery_video {
    display:inline-block;
    padding-right:2em;
    padding-bottom:2em;
    vertical-align:top;
}

.html5_video_gallery_info {
    display:table-cell;
}

.html5_video_gallery_thumb {
    min-height: 150px;
    display:table-cell;
}

.entry-content .html5_video_gallery_title {
    margin:0;
}
